/* CSS for CyberSpark.net analysis pages */
/* ////////////////////////////////////// */
body {
	padding-left: 40px;
}
.CS_CHART {
}
#LEGEND_NARROW {
	display:none;
}

/* ////////////////////////////////////// */
@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
}

/* ////////////////////////////////////// */
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	body {
		padding-left: 10px;
	}
}

/* ////////////////////////////////////// */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	body {
		padding-left: 10px;
	}
	#LEGEND_WIDE {
		display:none;
	}
	#LEGEND_NARROW {
		display:block;
	}
}

/* ////////////////////////////////////// */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body {
		padding-left: 5px;
	}
	#LEGEND_WIDE {
		display:none;
	}
	#LEGEND_NARROW {
		display:block;
	}
}

/* ////////////////////////////////////// */
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
	body {
		padding-left: 5px;
	}
	#LEGEND_WIDE {
		display:none;
	}
	#LEGEND_NARROW {
		display:block;
	}
}
